<h1 class="movie-title">Now Playing in Movie Theaters</h1>
<button class="genre" (click)="toggleHide()">Show</button>
<div *ngIf="movieList && isHidden">
  <div *ngFor="let movie of movieList" class="movie-container">
    <h2 class="movie-title">{{movie.title}}</h2>
    <div class="movie-info">
      <img alt="Movie Poster" class="movie-poster" src="https://image.tmdb.org/t/p/original/{{movie.posterPath}}">
      <div class="movie-description">
        <ul class="genre-list">
          <li *ngFor="let genre of movie.genres" class="genre">{{genre.name}}</li>
        </ul>
        <p class="movie-description">{{movie.description}}</p>
      </div>
    </div>
  </div>
</div>
