/* You can add global styles to this file, and also import other style files */

$primary-color: #252422;
$secondary-color: #fffcf2;
$accent-color: #eb5e28;


body {
  background-color: $secondary-color !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
