<h1>Recommended Movies by Account ID</h1>
<button class="genre" (click)="toggleHide()">Show</button>
<div *ngIf="!isHidden">
  <div id="grid" *ngIf="movieList.length != 0">
    <div class="left">
      <div class="movie-container">
        <h2 class="movie-title">{{movieList[0].title}}</h2>
        <div class="movie-info">
          <img alt="Movie Poster" class="movie-poster"
            src="https://image.tmdb.org/t/p/original/{{movieList[0].posterPath}}">
          <div class="movie-description">
            <ul class="genre-list">
              <li *ngFor="let genre of movieList[0].genres" class="genre">{{genre.name}}</li>
            </ul>
            <p class="movie-description">{{movieList[0].description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="center">
      <div class="movie-container">
        <h2 class="movie-title">{{movieList[1].title}}</h2>
        <div class="movie-info">
          <img alt="Movie Poster" class="movie-poster"
            src="https://image.tmdb.org/t/p/original/{{movieList[1].posterPath}}">
          <div class="movie-description">
            <ul class="genre-list">
              <li *ngFor="let genre of movieList[1].genres" class="genre">{{genre.name}}</li>
            </ul>
            <p class="movie-description">{{movieList[1].description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="movie-container">
        <h2 class="movie-title">{{movieList[2].title}}</h2>
        <div class="movie-info">
          <img alt="Movie Poster" class="movie-poster"
            src="https://image.tmdb.org/t/p/original/{{movieList[2].posterPath}}">
          <div class="movie-description">
            <ul class="genre-list">
              <li *ngFor="let genre of movieList[2].genres" class="genre">{{genre.name}}</li>
            </ul>
            <p class="movie-description">{{movieList[2].description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="movie-container">
    <button (click)="getRecommended()">Get Recommended</button>
    <form method="dialog">
      <input type="number" id="account_id" name="myId" placeholder="Account ID" (keyup.enter)="getRecommended()">
    </form>
  </div>
</div>
